.login-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff5f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  height: 29rem;
  width: 25rem;
  border: #9896f1 2px solid;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1rem;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
